/* Star Framework */

body {
  font-family: "Open Sans", sans-serif;
  height: 4000px;
}

.container {
  width: 1170px;
  margin: auto;
}

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.main-color {
  color: rgb(247, 96, 14);
}

.main-background {
  background-color: #f7600e;
}

:root {
  --color: #f7600e;
  --background-color: #f7600e;
}

.first-upper {
  text-transform: capitalize;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(54, 60, 67, 0.8);
}

::placeholder {
  font-size: 15px;
}
.hidden {
  display: none;
}
/* End Framework */

/* Star Header */

header {
  background-image: url("./../imgs/macbook.png");
  background-size: cover;
  color: #fff;
}

header .intro {
  margin-top: 150px;
}

header .intro h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
}

header .intro p {
  line-height: 1.9;
  color: #e2e2e2;
  margin: 5px 0 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

nav i {
  margin-left: 12px;
}

header .button button {
  background: transparent;
  padding: 10px 0;
  width: 180px;
  border: 1px solid #909090;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 100px;
}

header .button button:hover {
  background-color: var(--background-color);
  border: 1px solid var(--color);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* End Header */

/* Star Features */

.features {
  padding: 40px 0;
  overflow: hidden;
}
.features .feature {
  width: 22%;
  float: left;
  margin-right: 4%;
}
.features .feature:last-child {
  margin-right: 0;
}
.features .feature i {
  border: 1px solid #eee;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: var(--color);
}
.features .feature i:hover {
  background-color: var(--background-color);
  color: #fff;
  transform: scale(1.3);
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.features .feature .info h3 {
  text-transform: uppercase;
  color: #888;
  font-weight: normal;
}
.features .feature .info p {
  color: #555;
  line-height: 2;
}
/* End features*/
/* Star Subscribe */
.subscribe {
  background-image: url("./../imgs/Prostokąt\ 1\ kopia.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe form {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe form input[type="email"] {
  width: 400px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.subscribe form input[type="submit"] {
  background-color: var(--background-color);
  padding: 5px 25px;
  color: #fff;
  border: 1px solid var(--color);
  border-radius: 5px;
}

/* End Subscribe */
/* Star Our Work */
.our-work {
  padding: 50px 0;
}
.our-work h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0;
}
.our-work p {
  color: #888;
  line-height: 1.8;
}
.our-work .items-box {
  overflow: hidden;
  margin-bottom: 40px;
}
.our-work .items-box .item {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-bottom: 10px;
  overflow: hidden;
}
.our-work .items-box .item img {
  width: 100%;
}

.show-more {
  background-color: transparent;
  padding: 8px 20px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 10px;
}
.show-more:hover {
  background-color: var(--background-color);
  color: #fff;
  border: 1px solid var(--color);
  transition: all 0.5s ease-in-out;
}
/* End Our Work */
